[Unit]
Description=Flask App
After=network.target

[Service]
User=almalinux
WorkingDirectory=/home/almalinux
ExecStart=python3 app.py
Restart=always

[Install]
WantedBy=multi-user.target