datacenter = "dc1"
server = true
node_name = {% if ansible_default_ipv4.address == "10.0.1.7"-%}
"consul1"
{% elif ansible_default_ipv4.address == "10.0.1.8" -%}
"consul2"
{% elif ansible_default_ipv4.address == "10.0.1.9" -%}
"consul3"
{% endif -%}
addresses {
    http = "0.0.0.0"
}
data_dir = "/opt/consul"
log_level = "INFO"
retry_join = {% if ansible_default_ipv4.address == "10.0.1.7"-%}["consul2", "consul3"]
{% elif ansible_default_ipv4.address == "10.0.1.8" -%}["consul1", "consul3"]
{% elif ansible_default_ipv4.address == "10.0.1.9" -%}["consul1", "consul2"]
{% endif -%}
ui_config {
    enabled = true
}