scope: TestCluster
name: {% if ansible_default_ipv4.address == "10.0.1.7"-%}
"etcd1"
{% elif ansible_default_ipv4.address == "10.0.1.8" -%}
"etcd2"
{% elif ansible_default_ipv4.address == "10.0.1.9" -%}
"etcd3"
{% endif -%}

restapi:
    listen: {{ ansible_default_ipv4.address }}:8008
    connect_address: {{ ansible_default_ipv4.address }}:8008

etcd:
    hosts: 10.0.1.7:2379,10.0.1.8:2379,10.0.1.9:2379

bootstrap:
    dcs:
        ttl: 30
        loop_wait: 10
        retry_timeout: 10
        maximum_lag_on_failover: 1048576
        postgresql:
            use_pg_rewind: true
            pg_hba:
                - local all all trust
                - host all all 127.0.0.1/32 trust
                - host all all 10.0.1.5/32 md5
                - host all all 10.0.1.6/32 md5
                - host all all 10.0.1.7/32 md5
                - host all all 10.0.1.8/32 md5
                - host all all 10.0.1.9/32 md5
                - host all all 10.0.1.5/32 md5
                - host all all 10.0.1.6/32 md5
                - host all all 10.0.1.7/32 trust
                - host all all 10.0.1.8/32 trust
                - host all all 10.0.1.9/32 trust
                - host replication admin 10.0.1.7/32 trust
                - host replication admin 10.0.1.8/32 trust
                - host replication admin 10.0.1.9/32 trust
                - host replication admin 10.0.1.7/32 md5
                - host replication admin 10.0.1.8/32 md5
                - host replication admin 10.0.1.9/32 md5
                - host all all ::1/128 trust
                - local replication all trust
                - host replication all 127.0.0.1/32 trust
                - host replication all ::1/128 trust

    initdb:
        - encoding: UTF8
        - data-checksums

    users:
        admin:
            password: 'qwerty123'
            options:
            - createrole
            - createdb

postgresql:
    cluster_name: cluster_1
    listen: {{ ansible_default_ipv4.address }}:5432
    connect_address: {{ ansible_default_ipv4.address }}:5432
    data_dir: /etc/patroni/cluster
    config_dir: /etc/patroni/cluster
    bin_dir: /usr/lib/postgresql/14/bin
    pg_rewind:
        username: postgres
        password: 'postgres'
    authentication:
        replication:
            username: admin
            password: 'qwerty123'
        superuser:
            username: postgres
            password: 'postgres'
    parameters:
        unix_socket_directories: "/var/run/postgresql/"
    create_replica_methods:
        - basebackup
    basebackup:
        checkpoint: 'fast'

tags:
    nofailover: false
    noloadbalance: false
    clonefrom: false
    nosync: false
