# create new
# if you set some devices, add <target>-</target> and set the same way with follows
# naming rule : [ iqn.(year)-(month).(reverse of domain name):(any name you like) ]
<target iqn.2025-05.otus:target01>
    # provided device as a iSCSI target
    # iSCSI Initiator's IQN you allow to connect
    InitiatorName=iqn.2024-05.otus:ubuntu.{{ groups['initiator'][0] }}
    InitiatorName=iqn.2024-05.otus:ubuntu.{{ groups['initiator'][1] }}
    InitiatorName=iqn.2024-05.otus:ubuntu.{{ groups['initiator'][2] }}

</target> 