sources:
  app_logs:
    type: file
    include: ["/var/log/syslog"]

sinks:
  kafka_sink:
    type: kafka
    inputs: ["app_logs"]
    brokers:
      - "https://10.0.1.7:9200"
    topic: "app_logs_topic"

sinks:
  elasticsearch:
    type: elasticsearch
    inputs: ["app_logs"]
    endpoints:
      - "https://10.0.1.10:9200"
    bulk:
      index: "app-logs-%Y.%m.%d"
    tls:
      verify_certificate: false
    auth:
      strategy: "basic"
      user: "admin"
      password: "qwerty123"