sources:
  nginx_logs:
    type: file
    include: ["/var/log/nginx/*.log"]

sinks:
  kafka_sink:
    type: kafka
    inputs: ["nginx_logs"]
    brokers:
      - "https://10.0.1.7:9200"
    topic: "nginx_logs_topic"

sinks:
  elasticsearch:
    type: elasticsearch
    inputs: ["nginx_logs"]
    endpoints:
      - "https://10.0.1.10:9200"
    bulk:
      index: "nginx-logs-%Y-%m-%d"
    tls:
      verify_certificate: false
    auth:
      strategy: "basic"
      user: "admin"
      password: "qwerty123"
