sources:
  db_logs:
    type: file
    include: ["/var/log/postgresql/*.log"]

sinks:
  elasticsearch:
    type: elasticsearch
    inputs: ["db_logs"]
    endpoints:
      - "https://10.0.1.10:9200"
    bulk:
      index: "db-logs-%Y.%m.%d"
    tls:
      verify_certificate: false
    auth:
      strategy: "basic"
      user: "admin"
      password: "qwerty123"